<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Recipe type</th>
      <th>Difficulty level</th>
      <th>Calories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <% if recipe.picture.attachment %>
            <%= image_tag recipe.picture, width: 60 %>
          <% end %>
        </td>
        <td><%= recipe.name %></td>
        <td><%= recipe.recipe_type %></td>
        <td><%= recipe.difficulty_level %></td>
        <td><%= recipe.ingredients_recipes.sum { |i| i.amount * i.ingredient.calories } %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Recipe %>
  <%= link_to 'New Recipe', new_recipe_path %>
<% end %>